<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.louddt.tag.mapper.SysModelNodePropertyMapper" >
  <resultMap id="BaseResultMap" type="com.louddt.tag.entity.dbo.SysModelNodeProperty" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="node_name" property="nodeName" jdbcType="VARCHAR" />
    <result column="model_id" property="modelId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, value, type, node_name, model_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tag_sys_model_node_property
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tag_sys_model_node_property
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.louddt.tag.entity.dbo.SysModelNodeProperty" >
    insert into tag_sys_model_node_property (id, name, value,
      type, node_name, model_id
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, #{modelId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.louddt.tag.entity.dbo.SysModelNodeProperty" >
    insert into tag_sys_model_node_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        value,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="nodeName != null" >
        node_name,
      </if>
      <if test="modelId != null" >
        model_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        #{modelId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.louddt.tag.entity.dbo.SysModelNodeProperty" >
    update tag_sys_model_node_property
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="modelId != null" >
        model_id = #{modelId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.louddt.tag.entity.dbo.SysModelNodeProperty" >
    update tag_sys_model_node_property
    set name = #{name,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      node_name = #{nodeName,jdbcType=VARCHAR},
      model_id = #{modelId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into tag_sys_model_node_property (id, name, value,
    type, node_name, model_id)
    values <foreach collection="list" item="item" index="index" separator=",">
    (#{item.id,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.value,jdbcType=VARCHAR},
     #{item.type,jdbcType=VARCHAR}, #{item.nodeName,jdbcType=VARCHAR}, #{item.modelId,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <resultMap id="NodePropertyMap" type="com.louddt.tag.entity.vo.model.ModelNodePropertyVo">
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="node_name" property="nodeName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryModelNodePropertyByModelId" resultMap="NodePropertyMap" parameterType="java.lang.String">
     select name, value, type, node_name
     from tag_sys_model_node_property
     where model_id = #{modelId,jdbcType=VARCHAR}
  </select>
</mapper>